{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">

    <meta charset="UTF-8">
    <title>公式</title>
    <!-- 包含头部信息用于适应不同设备 -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 可选: 包含 jQuery 库 -->
<script src="{% static 'js/jquery-1.12.3.min.js'%}"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->

 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
 <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css'%}"/>
     <!-- 包含 bootstrap 样式表 -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}"rel="stylesheet">
</head>
<body>


    <div class="container">
    <h1>查询公式</h1>
    <form action="quer_formula" method="POST" role="form">
        <div class="form-group">
        <table class="table table-striped table-bordered">


           <tr><td>公式序号</td><td><input type="text" name="f_id" class="form-control"></td>
           <tr><td>公式名称</td><td><input type="text" name="f_name" class="form-control"></td>
            <td>查询批量</td><td><input type="text"  name="batch" class="form-control" placeholder=50 ></td></tr>
           <tr><td>开始期数</td><td><input type="text" name="start_num" class="form-control">
           <td>结束期数</td><td><input type="text" name="end_num" class="form-control"></td></tr>

        </table>
            </div>
        <tr><td></td><td><button  type="button" id="qur_btn"  class="btn btn-default">查询</button></td></tr>
        <tr><td></td><td><button  type="button" id="add_btn"  class="btn btn-default">新增</button></td></tr>
        <tr><td></td><td><button  type="button" id="del_btn"  class="btn btn-default">删除</button></td></tr>
        <input type="hidden" id="type_btn" name="type_btn">
    </form>

<h2>公式列表</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
     <tr>
         <th>序号</th>
         <th>名字</th>
         <th>表达式</th>
         <th>备注</th>
         <th>类型</th>
         <th>创建日期</th>
         <th>更新日期</th>
         <th>备用1</th>
         <th>备用2</th>
     </tr>
    {% if message != 'form fail' %}
    {% for i in f_list  %}
         <tr>
         <td>{{ i.formula_id }}</td>
         <td>{{ i.formula_name }}</td>
         <td>{{ i.formula_express }}</td>
         <td>{{ i.formula_note }}</td>
         <td>{{ i.formula_type }}</td>
         <td>{{ i.create_date }}</td>
         <td>{{ i.update_date }}</td>
         <td>{{ i.attribute1 }}</td>
         <td>{{ i.attribute2 }}</td>
     </tr>

    {% endfor %}

    {% endif %}
    </table>
     </div>
     </div>
</body>

    {% block js %}
        <!--这里插入具体页面引用的js库，或者js代码-->
     {% endblock %}
    <script>

    $(document).ready(function(){
        $("#qur_btn").click(function(){
            alert("查询被点击了。");
            $("#type_btn").val('query');
            $("form").submit()
         });
        });
    </script>
</html>