<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">

    <meta charset="UTF-8">
     <title>双色球主页</title>

    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 可选: 包含 jQuery 库 -->
<script src="{% static 'js/jquery-1.12.3.min.js'%}"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->

 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
 <style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
     <!-- 包含 bootstrap 样式表 -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">双色球</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a class="dropdown-toggle" data-toggle="dropdown">管理</>
          <ul class="dropdown-menu">
               <li><a href="/admin" target="mainFrame">后台管理</a></li>
               <li><a href="/shuang/spider" target="mainFrame">爬虫</a></li>
               <li><a href="/shuang/cal_fact_ext" target="mainFrame">更新事实扩展表</a></li>
               <li class="divider"></li>
             </ul>

         </li>

         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">普通查询</a>
            <ul class="dropdown-menu">
               <li><a href="/shuang/normal" target="mainFrame">普通查询页面</a></li>
               <li><a href="/shuang/searchforbasic" target="mainFrame">扩展属性查询</a></li>

               <li class="divider"></li>
             </ul>
          </li>

         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">公式管理 </a>
            <ul class="dropdown-menu">
                <li><a href="/shuang/quer_formula" target="mainFrame">公式查询</a></li>
                <li><a href="/shuang/define_formula" target="mainFrame">公式定义</a></li>
                <li><a href="#" target="mainFrame">正确率</a></li>
                <li class="divider"></li>
                <li><a href="#" target="mainFrame">自选号码</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>


</body>
</html>
