<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">

    <meta charset="UTF-8">
     <title>双色球主页</title>

    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 可选: 包含 jQuery 库 -->
<script src="{% static 'js/jquery-1.12.3.min.js'%}"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->

 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
 <style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
     <!-- 包含 bootstrap 样式表 -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">W3Cschool</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/shuang/spider" target="mainFrame">爬虫</a></li>
         <li><a href="#">待用</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Java
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/shuang/normal" target="mainFrame">普通查询页面</a></li>
               <li><a href="/shuang/searchforbasic" target="mainFrame">扩展属性查询</a></li>

               <li class="divider"></li>
               <li><a href="/shuang/gongshi" target="mainFrame">公式定义</a></li>
                <li><a href="/shuang/gongshi" target="mainFrame">正确率</a></li>
               <li class="divider"></li>
               <li><a href="#" target="mainFrame">自选号码</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>


    <div >
        <iframe id="mfid"  name="mainFrame" src="/shuang/normal" frameborder="0" width=90% height=800 scrolling="yes" marginheight="0" marginwidth="0" ></iframe>
    </div>

</body>
</html>
